@model PhoneTypeQuantityLineChartVM
@{
    ViewData["Title"] = "Graphics";
    Layout = "~/Areas/Management/Views/Shared/_LayoutManagement.cshtml";
}

<!-- solid sales graph -->
<div class="card bg-gradient-info">
    <div class="card-header border-0">
        <h3 class="card-title">
            <i class="fas fa-th mr-1"></i>
            Geçen Haftanın Telefon Verilerine Ait Grafik
        </h3>

        <div class="card-tools">
            <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <canvas class="chart" id="admin-line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
    </div>
    <!-- /.card-body -->
    <div class="card-footer bg-transparent">
        <div class="row">
            @foreach (var item in Model.PhoneTypeNameandQuantity)
            {
                <div class="col-4 text-center">
                    <input type="text" class="knob"
                       data-readonly="true" value=@item.Value data-width="60"
                       data-height="60"
                       data-fgColor="black">

                    <div class="text-white">@item.Key</div>
                </div>

            }
            <!-- ./col -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->

@section adminscripts{
    <script>
        $(document).ready(function() {
            b();

        });

        function b() {
            var days = [];
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: "Get",
                url: '/m/Admin/GetDays',
                datatype: 'json',
                success: function(response) {
                    alert(response.message);
                    console.log(response.data);
                    $.each(response.data, function() {
                        days.push(this);
                    });
                },
                error: function(response) {
                    alert(response.message);
                }
            });
            var points = [];
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: "Get",
                url: '/m/Admin/GetPoints',
                datatype: 'json',
                success: function(response) {
                    alert(response.message);
                    console.log(response.data);
                    $.each(response.data, function() {
                        points.push(this);
                    });
                },
                error: function(response) {
                    alert(response.message);
                }
            });

            // Sales graph chart
            var salesGraphChartCanvas = $('#admin-line-chart').get(0).getContext('2d')
            // $('#revenue-chart').get(0).getContext('2d');

            var salesGraphChartData = {
                labels: days,
                datasets: [
                    {
                        label: 'Eklenen telefon sayısı',
                        fill: false,
                        borderWidth: 2,
                        lineTension: 0,
                        spanGaps: true,
                        borderColor: '#efefef',
                        pointRadius: 3,
                        pointHoverRadius: 7,
                        pointColor: '#efefef',
                        pointBackgroundColor: '#efefef',
                        data: points
                    }
                ]
            }

            var salesGraphChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: '#efefef'
                        },
                        gridLines: {
                            display: false,
                            color: '#efefef',
                            drawBorder: false
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 10,
                            fontColor: '#efefef'
                        },
                        gridLines: {
                            display: true,
                            color: '#efefef',
                            drawBorder: false
                        }
                    }]
                }
            }

            // This will get the first returned node in the jQuery collection.
            // eslint-disable-next-line no-unused-vars
            var salesGraphChart = new Chart(salesGraphChartCanvas, { // lgtm[js/unused-local-variable]
                type: 'line',
                data: salesGraphChartData,
                options: salesGraphChartOptions
            })
        }

    </script>

}