@model ResetPasswordViewModel
@{
    ViewData["Title"] = "CreatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6 offset-3">
        <h4>Yeni şifreninizi oluşturabilirsiniz!</h4>
        <form asp-controller="Account" asp-action="CreatePassword" method="post">
            <div class="text-danger"  asp-validation-summary="All"></div>
            <div class="form-group">
                <label style="font-weight:bold;">Şifreniz:</label>
                <span style="color:gray;">(8 haneli şifre giriniz)</span>
                <input type="password" asp-for="Password"
                       class="form-control" />
            </div> <br />

            <div class="form-group">
                <label style="font-weight:bold;">Şifre Tekrarınız:</label>
                <input type="password" asp-for="ConfirmPassword"
                       class="form-control" />
            </div> <br />

            <div class="form-group">
            <button type="submit" class="btn btn-primary"
            >Kaydet</button>
            </div>
            <input  type="hidden" asp-for="UserId"/>
            <input  type="hidden" asp-for="Token"/>

        </form>
    </div>
</div>

