@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="align-content:center">
    <div class="col-6 offset-3">
        @if (ViewBag.ForgetPasswordFailedMessage != null)
        {
            <div class="alert alert-danger">
                <h6 class="text-danger">@ViewBag.ForgetPasswordFailedMessage</h6>
            </div>
        }

        @if (ViewBag.ForgetPasswordSuccessMessage != null)
        {
            <div class="alert alert-success">
                <h6 class="text-success">@ViewBag.ForgetPasswordSuccessMessage</h6>
            </div>
        }
        
        <h3 class="font-weight:bold">Yeni Şifre Talebi</h3>
        <form asp-controller="Account" asp-action="ForgetPassword"
              method="post">
            <div class="form-group">
                <label>Kullanıcı Adınız:</label> <br />
                <input type="text" name="username" class="form-control"
                required/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                        style="float:right;margin-top:10px;">
                Talebi Gönder</button>
            </div>
        </form>
    </div>
</div>